body{
    background-image: url("../images/star-wars-darth-bg.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-color: black;
    /* background-size:  cover; */
}

.player-card {
    background-color: white;
    border-radius: 4px;    
}